@import "tailwindcss";


html, body {
  @apply bg-dark-200;
}

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-dark-100: #1f1f36;
  --color-dark-200: #141627;
  --color-dark-300: #101828;
  --color-dark-400: #2e2c48;
  --color-gray-100: #7f7e83;
  --color-gray-200: #eaecf0;
  --color-gray-500: #667085;
  --color-gray-700: #344054;
  --color-primary-50: #e9f3fb;
  --color-primary-100: #256ff1;
  --color-primary-500: #175cd3;
  --color-light-100: #ecf2ef;
  --color-light-200: #f9fbfc;
  --color-light-300: #f2f4f7;
  --color-light-400: #ebeeed;
  --color-light-500: #e3f1ff;
  --color-success-50: #ecfdf3;
  --color-success-500: #12b76a;
  --color-success-700: #027a48;
  --color-pink-50: #f7edf6;
  --color-pink-500: #c11574;
  --color-navy-50: #f0f9ff;
  --color-navy-500: #026aa2;
  --color-red-500: #b93815;
  --color-red-50: #fff4ed;
  --color-red-100: #ff543d;
}


@layer utilities {
  .mask-fade-4 {
    -webkit-mask-image: radial-gradient(ellipse at center, black 70%, transparent 100%);
    mask-image: radial-gradient(ellipse at center, black 70%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}

@layer components {
  .login-page {
    @apply flex lg:bg-[#160430] bg-[#240B48] min-h-screen overflow-hidden;

    .left-section {
      @apply flex flex-row;
    }

    .login-fade-bottom {
      @apply absolute left-0 w-full h-[70px] top-0 lg:top-auto lg:bottom-0;
      @apply bg-gradient-to-b from-black to-transparent;
      @apply lg:bg-gradient-to-t lg:from-[#160430];
    }
  }
}